{% extends "base.html" %}

{% block main %}
<div id="tags-archives" class="main-content-wrap">
  <form id="filter-form" action="#">
    <input name="tag" type="text" class="form-control input--xlarge" placeholder="Search tag" autofocus="autofocus">
  </form>
  <h4 class="archive-result text-color-base text-xlarge"></h4>
  <section>
    {% for data in datas %}
    <a class="tag tag--primary tag--small" href="#{{ data.slug }}" data-tag="{{ data.slug }}">
      {{ data.name }}
    </a>
    {% endfor %}
  </section>
  <section class="boxes">
    {% for data in datas %}
    <div id="{{ data.slug }}" class="archive box" data-tag="{{ data.slug }}">
      <h4 class="archive-title">
        <a class="link-unstyled" href="#">{{ data.name }}（{{ data.count }}）</a>
      </h4>
      <ul class="archive-posts">
        {% for article in data.articles %}
        <li class="archive-post">
          <a class="archive-post-title" href="{% url 'blog.article' slug=article.slug %}">{{ article.title }}</a>
          <span class="archive-post-date"> - {{ article.create_time|date:"M d, Y" }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </section>
</div>
{% endblock main %}
